* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}


button {
    width: 7rem;
    height: 7rem;
    border-radius: 4rem;
    border:none;
    font-size: 3rem;
    background-color: rgb(38, 36, 36);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.main {
    background-color: rgb(68, 67, 67);
    border-radius: 1rem;
    max-width: 500px;
    overflow: hidden;
}

.display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: rgba(21, 21, 21, 0.536);
    color:white;
    border:none;
}

button:hover {
    background-color: rgb(108, 101, 101);
}
button:active {
    background-color: rgb(120, 120, 120);
}

.operator-btn {
    background-color: rgb(255, 123, 0);
}
.operator-btn:hover {
    background-color: rgb(251, 175, 103);
}