* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}


button {
    width: 20vw;
    height: 20vw;
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 4rem;
    border:none;
    font-size: 2rem;
    background-color: rgb(38, 36, 36);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap : 5px;
    padding : 10px;
}

.main {
    background-color: rgb(68, 67, 67);
    border-radius: 1rem;
    max-width: 500px;
    overflow: hidden;
}

.display {
    width: 100%;
    padding: 15px;
    font-size: 4rem;
    text-align: left;
    background-color: rgba(21, 21, 21, 0.536);
    color:white;
    border:none;
    overflow-x: auto;
}

button:hover {
    background-color: rgb(108, 101, 101);
}
button:active {
    background-color: rgb(120, 120, 120);
}

.operator-btn {
    background-color: rgb(255, 123, 0);
}
.operator-btn:hover {
    background-color: rgb(251, 175, 103);
}

@media (max-width: 500px) {
    .main {
        max-width: 90vw; /* Reduce width to fit screen */
        padding: 10px;
    }
    
    .display {
        font-size: 3rem; /* Reduce font size */
        padding: 10px;
    }

    .keys {
        grid-template-columns: repeat(4, 1fr);
        gap: 5px; /* Reduce gap */
    }

    button {
        width: 22vw;
        height: 22vw;
        font-size: 1.8rem;
    }
}
